@media screen and (max-width: 767px) {
  .pc-menu {
    display: none !important;
  }

   #side-menu {
    display: none !important;
  }
}

@media screen and (max-width: 1000px) {
  .solid-color-mode, .border-color-mode {
    .post-text {
      font-size: 16px;  
    }
  }
}