<div class="container">
  <div class="row">
    <div id="side-menu"  class="col-sm-3">
    </div><!-- side-menu -->

    <div id="main-content" class="col-sm-9">
    	<%= render @posts %>
    </div><!-- main-content -->

  </div><!-- row -->
</div><!-- container -->